In [9]:
import urllib.request, json 
import pandas as pd
import geopandas as gpd
import contextily as ctx
import matplotlib.pyplot as plt

In [10]:
city_of_la_zoning = pd.read_csv('data/Zoning.csv')

In [12]:
city_of_la_zoning.shape

(58653, 6)

In [13]:
city_of_la_zoning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58653 entries, 0 to 58652
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      58653 non-null  int64
 1   ZONE_CMPLT    58653 non-null  object
 2   ZONE_CLASS    58653 non-null  object
 3   ZONE_SMRY     58527 non-null  object
 4   SHAPE_Length  58653 non-null  float64
 5   SHAPE_Area    58653 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.7+ MB

In [14]:
city_of_la_zoning.head()

   OBJECTID    ZONE_CMPLT ZONE_CLASS   ZONE_SMRY  SHAPE_Length    SHAPE_Area
0         1  (F)CM-1-CUGU         CM  INDUSTRIAL      0.001376  1.135955e-07
1         2  (F)CM-1-CUGU         CM  INDUSTRIAL      0.001376  1.136063e-07
2         3  (F)CM-1-CUGU         CM  INDUSTRIAL      0.001102  5.680651e-08
3         4  (F)CM-1-CUGU         CM  INDUSTRIAL      0.001102  5.680455e-08
4         5  (F)CM-1-CUGU         CM  INDUSTRIAL      0.001376  1.136150e-07

In [15]:
city_of_la_zoning.tail()

,OBJECTID,ZONE_CMPLT,ZONE_CLASS,ZONE_SMRY,SHAPE_Length,SHAPE_Area
58648,58649,(Q)C2-2D-SN,C2,COMMERCIAL,0.001361,7.767602e-08
58649,58650,(T)(Q)RD1.5-1,RD1.5,RESIDENTIAL,0.000670,2.101516e-08
58650,58651,(Q)C2-2D,C2,COMMERCIAL,0.001265,6.801642e-08
58651,58652,C2-2D,C2,COMMERCIAL,0.001265,6.801288e-08
58652,58653,A2-1-CUGU,A2,AGRICULTURE,0.003631,7.932808e-07

In [16]:
city_of_la_zoning['ZONE_SMRY'].value_counts()

RESIDENTIAL        36542
COMMERCIAL         11082
INDUSTRIAL          3664
AGRICULTURE         2445
PUBLIC FACILITY     2096
OPEN SPACE          1450
PARKING             1248
Name: ZONE_SMRY, dtype: int64

In [17]:
city_of_la_zoning.query("ZONE_SMRY == 'RESIDENTIAL'")

,OBJECTID,ZONE_CMPLT,ZONE_CLASS,ZONE_SMRY,SHAPE_Length,SHAPE_Area
10,11,(F)R2-1-RIO,R2,RESIDENTIAL,0.003084,5.452941e-07
11,12,(F)R2-1-RIO,R2,RESIDENTIAL,0.002809,3.635111e-07
12,13,(F)R2-1-RIO,R2,RESIDENTIAL,0.003358,6.816327e-07
13,14,(F)RE11-1,RE11,RESIDENTIAL,0.002197,2.039770e-07
14,15,(F)RE11-1,RE11,RESIDENTIAL,0.002240,2.223388e-07
...,...,...,...,...,...,...
58642,58643,(T)(Q)RD5-1,RD5,RESIDENTIAL,0.001763,1.588872e-07
58643,58644,[Q]RD6-1D,RD6,RESIDENTIAL,0.001466,8.600602e-08
58644,58645,[Q]RD6-1D,RD6,RESIDENTIAL,0.003208,3.973836e-07
58645,58646,(T)(Q)RD5-1D,RD5,RESIDENTIAL,0.003164,5.110287e-07
58649,58650,(T)(Q)RD1.5-1,RD1.5,RESIDENTIAL,0.000670,2.101516e-08

In [18]:
residential = city_of_la_zoning.query("ZONE_SMRY == 'RESIDENTIAL'")

In [20]:
residential

,OBJECTID,ZONE_CMPLT,ZONE_CLASS,ZONE_SMRY,SHAPE_Length,SHAPE_Area
10,11,(F)R2-1-RIO,R2,RESIDENTIAL,0.003084,5.452941e-07
11,12,(F)R2-1-RIO,R2,RESIDENTIAL,0.002809,3.635111e-07
12,13,(F)R2-1-RIO,R2,RESIDENTIAL,0.003358,6.816327e-07
13,14,(F)RE11-1,RE11,RESIDENTIAL,0.002197,2.039770e-07
14,15,(F)RE11-1,RE11,RESIDENTIAL,0.002240,2.223388e-07
...,...,...,...,...,...,...
58642,58643,(T)(Q)RD5-1,RD5,RESIDENTIAL,0.001763,1.588872e-07
58643,58644,[Q]RD6-1D,RD6,RESIDENTIAL,0.001466,8.600602e-08
58644,58645,[Q]RD6-1D,RD6,RESIDENTIAL,0.003208,3.973836e-07
58645,58646,(T)(Q)RD5-1D,RD5,RESIDENTIAL,0.003164,5.110287e-07
58649,58650,(T)(Q)RD1.5-1,RD1.5,RESIDENTIAL,0.000670,2.101516e-08

In [22]:
city_of_la_zoning['ZONE_CLASS'].value_counts()

R1        12767
C2         8023
R3         5043
RD1.5      3373
R2         3329
          ...
RSP           1
M2(PV)        1
USC-1A        1
CCS           1
PVSP          1
Name: ZONE_CLASS, Length: 111, dtype: int64

In [23]:
residential['ZONE_CLASS'].value_counts()

R1          12767
R3           5043
RD1.5        3373
R2           3329
RS           2852
RD2          2079
R4           1265
RE11         1217
R1V2          824
RE15          760
RD3           702
RE40          417
RE9           304
RE20          278
R1R3          245
RAS4          141
R5            140
RD6           120
R1V3          116
RD5            95
R1V1           69
RD4            67
R1H1           47
RAS3           45
RW1            36
RMP            35
R3P            24
R4P            22
R1P            20
R4(PV)         20
RAS3(UV)       16
RZ3            12
R5P            11
RW2            10
RZ4             7
RZ5             7
R3(PV)          6
R3(UV)          6
RE              5
RZ2.5           5
R2P             2
RU              2
RSP             1
Name: ZONE_CLASS, dtype: int64

In [ ]:
filter_list = ['', 'RS', 'RE9', 'RE11', 'RE15', 'RE20', 'RE40', 'RU', 'R1V', 'R1F', 'R1R', 'R1H']

In [ ]:
mhp_residential = a1,a2,ra,re,rs,r1,ru,rz,rw1,r2,RD1.5, RD2, RD3, RD4, RD5 and RD6

In [ ]:
conditional use permits are 
permited as a pubic benefit are
permited by right are